/*Duncan Iaria*/

/*GLOBAL*/
body
{
	font-size: 16px;
	color: #444;
	font-family: 'Poppins', sans-serif;
}

h1
{
	font-size: 3em;
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
}

header
{
	padding: 10px;
	margin-bottom: 20px;
	
	text-align: center;
}

section
{
}

.container
{
	width: 60%;
	margin: 10px auto;
	/*background-color: red;*/
}

.feedback-img
{
	width: calc( 60% - 1px );
	height: 300px;

	float: left;

	border-right: 1px #333 solid;
}

.guessed-letters
{
	width: 40%;
	height: 300px;

	float: right;
}

#current-word-view
{
	margin-top: 20px;
	padding: 20px;

	clear: both;

	text-align: center;
}

#current-word-view > h1
{
	padding: 20px;
	letter-spacing: 8px;
}

#guessed-letter-view
{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
	letter-spacing: 10px;
	line-height: 2em;
}

#poke-bank-view
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	/*background-color: red;*/
}

.poke-container
{
	text-align: center;
	margin: 10px 2.333%;

	width: 20%;
	height: 120px;
}

.poke-ball
{
	margin: 0px auto;
	height: 100px;
	width: 100px;

	background-image: url( "../images/pokeball-bg-xs.png" );
	background-size: contain;

	/*background-color: red;*/
	border-radius: 50%;
}

.poke-ball > img
{
	margin-top: 10px;
}
