/*Duncan Iaria*/

/*=========================
//	GLOBAL
//========================*/
html
{
    position: relative;
    min-height: 100%;
}

body
{
	font-size: 16px;
	color: #444;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 75px;
}

h1, h2, h3
{
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
}

h1
{
	font-size: 3em;
}

h2
{
	font-size: 2.5em;
}

h3
{
	font-style: 2em;
}

header
{
	padding: 10px;
	margin-bottom: 20px;
	
	text-align: center;
}

header > p 
{
	line-height: 1.5em;
}

footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	
	padding-top: 16px;
	text-align: center;
	
	/*color: #ff3e31; pokemon red*/
	color: #fff;
	background-color: #57575a;
}
footer > p
{
	font-size: .75em;
}

.container
{
	width: 60%;
	margin: 10px auto;
	/*background-color: red;*/
}

.feedback-img
{
	width: calc( 60% - 1px );
	height: 300px;

	float: right;

	border-left: 1px #444 solid;
}

/*=========================
//	MODAL
//========================*/
.modal-bg
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
	
	background-color: #fff;
	transition: all 3s;
	opacity: 0;
/*	opacity: 0;
	display: none;*/
}

.modal
{
	position: fixed;
	top: 50%;
  	left: 50%;
  	transform: translate( -50%, -50% );

	width: 400px;
	padding: 20px;
	background-color: #fff;

	/*border: 1px #444 solid;*/
	border-radius: 6px;
	box-shadow: 3px 3px 12px #ccc;
	z-index: 15;

	text-align: center;
	display: none;
}

.modal-label-container
{
	/*text-align: center;*/
	padding: 0px;
}

.modal-label > hr
{
	color: #fff;
	background-color: #fff;
	border-color: #fff;
}

.modal-image-container
{
	text-align: center;
}

.modal-text-container
{
	padding: 20px;
}

.modal-btn
{
	font-family: 'Josefin Slab', serif;
	font-size: 1em;
	font-weight: bold;
	color: white;
	border-radius: 3px;
	padding: 10px 40px;
	border: 0px white solid;
	cursor: pointer;
}

.btn-yes
{
	margin-left: 10px;
	background: linear-gradient( #2fcb53, #269f42 );
}

.btn-no
{
	background: linear-gradient( #ea3c00, #ae2a00 );
}


/*=========================
//	VIEWS
//========================*/
.guessed-letters
{
	width: 40%;
	height: 300px;

	float: left;
}

.guessed-letters > h3
{
	text-align: center;
}

#current-word-view
{
	margin-top: 20px;
	padding: 20px;
	padding-top: 40px;

	clear: both;

	text-align: center;
}

#current-word-view > h1
{
	padding: 20px;
	letter-spacing: 8px;
}

#guessed-letter-view
{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	margin-top: 60px;
	letter-spacing: 10px;
	line-height: 2em;
}

#poke-bank-view
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	/*background-color: red;*/
}

.poke-container
{
	text-align: center;
	margin: 10px 2.333%;

	width: 20%;
	height: 120px;
}

.poke-ball
{
	margin: 0px auto;
	height: 100px;
	width: 100px;

	background-image: url( "../images/pokeball-bg-xs.png" );
	background-size: contain;

	/*background-color: red;*/
	border-radius: 50%;
}

.poke-ball > img
{
	margin-top: 10px;
}
